@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #8ab7ff 0%, #b8f6fa 100%);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*  Container */

.container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: -0.2rem -0.2rem 0.4rem rgba(99, 99, 99, 0.112),
    0.2rem 0.2rem 0.4rem rgba(99, 99, 99, 0.112);
  width: 40rem;
  max-width: 100%;
}

/*  Container - Header */

.header {
  padding: 2rem 4rem;
}

.header h2 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  user-select: none;
}

/*  Container - Form */

#form {
  padding: 3rem 4rem;
}

/*  Form - Form Control */

.form-control {
  margin-bottom: 1rem;
  padding-bottom: 2.5rem;
}

/*  Form Control - Label */

.form-control label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  user-select: none;
}

/*  Form Control - Input */

.form-control input {
  border-radius: 0.7rem;
  border: 0.2rem solid #ebebeb;
  display: block;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
}

/*  Form Control - Button */

#form .button {
  background-color: #2d88ff;
  border: 2px solid #fff;
  color: #fff;
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: inherit;
  width: 100%;
  border-radius: 0.7rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  user-select: none;
}
